@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

body {
  padding: 20px 40px 20px 40px;
  margin: 0 auto;
  text-align: center;
}

code pre {
	font-family: 'Source Code Pro';
}

.home-logo {
	margin: 130px 0;
}

.home-logo h1 {
	font-size: 68px;
}

.home-logo code {
	font-size: 30px;
}

.content {
	margin: 70px 0;
}
