@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Open Sans', sans-serif;
	padding: 20px 40px 20px 40px;
	margin: 0 auto;
	font-size: 18px;
}

code, pre {
	font-family: 'Source Code Pro';
}

.navber, .navbar-default {
	border: none;
	background: none;
	box-shadow: none;
}

.home-logo {
	margin: 130px 0;
}

.home-logo h1 {
	font-size: 68px;
}

.home-logo code {
	font-size: 30px;
}

.content {
	margin: 70px 0;
}

#site-navbar {
	border: none;
	background: none;
}